<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%=link_to "WEIPO","#",id:"logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%=link_to "HOME",root_path %></li>
					<li><%=link_to "MY WEIPO",'#' %></li>
					<li><%=link_to "HELP",help_path %></li>
					<li><%=link_to "SIGN IN",'#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>